<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="ServerApplication">
      <service>
        <wellknown type="Proxy.LoginProxy, Proxy" objectUri="Login" mode="SingleCall" />
        <wellknown type="Proxy.MissionTemplateProxy, Proxy" objectUri="MissionTemplate" mode="SingleCall" />
        <wellknown type="Proxy.PreparedMissionProxy, Proxy" objectUri="PreparedMission" mode="SingleCall" />
        <wellknown type="Proxy.ScheduledMissionProxy, Proxy" objectUri="ScheduledMission" mode="SingleCall" />
        <wellknown type="Proxy.PTypeProxy, Proxy" objectUri="PTYPE" mode="SingleCall" />
        <wellknown type="Proxy.PTFormatProxy, Proxy" objectUri="PTFORMAT" mode="SingleCall" />
        <wellknown type="Proxy.GSProxy, Proxy" objectUri="GS" mode="SingleCall" />
        <wellknown type="Proxy.SIDProxy, Proxy" objectUri="SID" mode="SingleCall" />
        <wellknown type="Proxy.HKDataProxy, Proxy" objectUri="HKDATA" mode="SingleCall" />
        <wellknown type="Proxy.ObjectProxy, Proxy" objectUri="Object" mode="SingleCall" />
        <wellknown type="Proxy.ModProxy, Proxy" objectUri="Mod" mode="SingleCall" />
        <wellknown type="Proxy.HKDataALLProxy, Proxy" objectUri="HKDATAALl" mode="SingleCall" />
        <wellknown type="Proxy.TelBriefProxy, Proxy" objectUri="TelBrief" mode="SingleCall" />
        <wellknown type="Proxy.TelecommandProxy, Proxy" objectUri="Telecommand" mode="SingleCall" />
        <wellknown type="Proxy.TcParameterNameProxy, Proxy" objectUri="TcParameterName" mode="SingleCall" />
        <wellknown type="Proxy.TcParametersValueProxy, Proxy" objectUri="TcParametersValue" mode="SingleCall" />
        <wellknown type="Proxy.PUSServicesProxy, Proxy" objectUri="PUSServices" mode="SingleCall" />
        <wellknown type="Proxy.SequenceProxy, Proxy" objectUri="Sequence" mode="SingleCall" />
        <wellknown type="Proxy.SequenceDetailsProxy, Proxy" objectUri="SequenceDetails" mode="SingleCall" />
        <wellknown type="Proxy.PassTimeProxy, Proxy" objectUri="PassTime" mode="SingleCall" />
        <wellknown type="Proxy.TcStatusProxy, Proxy" objectUri="TcStatus" mode="SingleCall" />
        <wellknown type="Proxy.AccountProxy, Proxy" objectUri="Account" mode="SingleCall" />
        <wellknown type="Proxy.RoleProxy, Proxy" objectUri="RoleType" mode="SingleCall" />
        <wellknown type="Proxy.SendProxy, Proxy" objectUri="SendP" mode="Singleton" />
        <wellknown type="Proxy.UserServiceProxy, Proxy" objectUri="UserServices" mode="SingleCall" />
        <wellknown type="Proxy.RoleUserServiceProxy, Proxy" objectUri="RoleUserServices" mode="SingleCall" />
        <wellknown type="Proxy.EventProxy, Proxy" objectUri="Event" mode="SingleCall" />
        <wellknown type="Proxy.ParamManageProxy, Proxy" objectUri="ParamManag" mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp server" port="9000" />
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="DAL.Path" value="DAL" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=Desktop-LMIIVJ5;FailOver Partner=SW-Boroumand2;Initial Catalog=Pars1_DB;User ID = sa;PassWord=123;" />
  </connectionStrings>
</configuration>